<li data-newspost-id="{{feed_item.pk}}" data-feed-placement="{{forloop.counter}}">
	<span class="label label--soft">
		{{feed_item.publish_date}}
	</span>
	{% if format == "detailed" %}
		{% for topic in feed_item.topics.all %}
			<div class="label label--tag">{{topic.display_name}}</div>
		{% endfor %}
	{% endif %}
	<div class="feed-link">
		<a href="{{ feed_item.url }}">{{ feed_item.title }}</a>
	</div>
	<div class="feed-teaser" data-story_id="{{feed_item.pk}}">
		{% if feed_item.teaser is not None%}
		{{ feed_item.teaser|safe }} ...
		{% else %}
		<!--	I tried using default filters here to some effect
				Unfortunately, it still leaves the possibility of displaying
				a final, previously unclosed html tag in the teaser.
			-->
		{{ feed_item.default_teaser|truncatechars_html:150|striptags}} ...
		{% endif %}
	</div>
</li>